<header class="jumbotron">
  <h1 class="text-center">{{title}}</h1>
</header>

<main class="container">

  <div class="row">
    <form action="" class="col-md-12">
      <a routerLink="/cadastro" class="btn btn-primary">Nova foto</a>
    </form>
  </div>
  <div class="row card-deck">
    <painel *ngFor="let foto of listaFotos" [titulo]="foto.titulo" [descricao]="foto.descricao">
      <a data-foto [routerLink]="['/alterar', foto._id]">
        <foto [url]="foto.url" [titulo]="foto.titulo"></foto>
      </a>
      <button class="btn btn-danger" (click)="remover(foto)">Remover</button>
    </painel>
  </div>
</main>